<html>
    <head>
        <title>DIAMOND PRICE</title>
        <style>
            body {
              background-image: url('https://c4.wallpaperflare.com/wallpaper/34/173/105/cinema-4d-diamonds-jewels-wallpaper-preview.jpg');
              background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative
            }
        </style>
    </head>
    <body><center>
        <div><br><br><br><br>
            <h2>{{msg}}</h2>
        </div></center>
    </body>
</html>